<p><%= "Ask your coach anything" %></p>
<form class="form" action="answer" data-turbo="false">
  <input class="input" type="text" name="question" value="<% params[:ask] %>">
  <input class="submit-btn" type="submit" value="Ask">
</form>
